repos:
  - repo: https://github.com/gruntwork-io/pre-commit
    rev: v0.1.30
    hooks:
      - id: helmlint
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: fix-byte-order-marker
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: detect-aws-credentials
        args:
          - --allow-missing-credentials
      - id: detect-private-key
      - id: check-case-conflict
      - id: check-yaml
        args:
          - --allow-multiple-documents
        exclude: ^(k8s/|bindings/python/mkdocs\.yml$)
      - id: check-json
      - id: check-xml
  - repo: https://github.com/psf/black
    rev: 25.12.0
    hooks:
      - id: black
        language_version: python3
        files: ^bindings/python/.*\.py$
  - repo: https://github.com/pycqa/isort
    rev: 7.0.0
    hooks:
      - id: isort
        args: ["--profile", "black"]
        files: ^bindings/python/.*\.py$
  - repo: https://github.com/macisamuele/language-formatters-pre-commit-hooks
    rev: v2.15.0
    hooks:
      - id: pretty-format-yaml
        args:
          - --autofix
          - --indent=2
        files: ^bindings/python/.*\.ya?ml$
  - repo: https://github.com/scop/pre-commit-shfmt
    rev: v3.12.0-2
    hooks:
      - id: shfmt
        args: ["-i", "4", "-ci", "-sr", "-w"]
        files: ^bindings/python/.*\.sh$
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.7.4
    hooks:
      - id: prettier
        types: [ java, xml ]
        additional_dependencies:
          - prettier@3.7.4
          - prettier-plugin-java@2.7.7
          - prettier-plugin-xml
        args:
          - --write
          - --list-different
          - --ignore-unknown
