# SPDX-FileCopyrightText: Copyright © 2021-present Arcade Data Ltd (info@arcadedata.com)
# SPDX-License-Identifier: Apache-2.0

# Example output databases
my_test_databases/

# ArcadeDB logs
log/

# Downloaded datasets
data/

# Benchmark logs
benchmark_logs/
benchmark_work/
