body {
  font-family: Poppins, Verdana, sans-serif, Tahoma;
  background-color: white;
}

a, a:visited {
  color: #545454;
}

.link {
  color: #02A3FF !important;
}

.btn-secondary {
  color: black;
  background-color: #F7F7F7 !important;
  border: 0px;
}
.btn-secondary:hover{
  background-color: #B9D8F9 !important;
}

.nav-link {
  background-color: white;
}
.nav-link:hover{
  background-color: #B9D8F9 !important;
}

a.vertical-tab.nav-link.active.show {
  background-color: #F7F7F7;
  border-right-color: #F7F7F7;
  border-top-right-radius: 0;
}

a.nav-link.active.show {
  background-color: #F7F7F7;
  border-bottom-color: #F7F7F7;
}

.btn-primary {
  background-color: #00AEEE;
  border-color: #0E76BC;
}

.btn-primary:hover, .page-item.active .page-link {
  background-color: #B9D8F9;
  border-color: #B9D8F9;
}

.CodeMirror {
  color: black;
  border-size: 2px;
  font-size: 1.2em;
  padding: 8px;
  width: 100%;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 30px;
  max-height: 400px;
}

div.dt-buttons {
  float: left;
}
div.dataTables_length {
  float: left;
  margin-left: 50px;
}
div.dataTables_filter {
  float: right;
}

#graphMainPanel {
  transition: width 0.3s ease;
}

#graphPropertiesPanel {
  /* for the animation */
  transition: margin 0.3s ease;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}
