body {
  font-family: Poppins, Verdana, sans-serif, Tahoma;
  background-color: white;
}

a,
a:visited {
  color: #545454;
}

.link {
  color: #02a3ff !important;
}

.btn-secondary {
  color: black;
  background-color: #f7f7f7 !important;
  border: 0px;
}
.btn-secondary:hover {
  background-color: #b9d8f9 !important;
}

.btn-outline-primary {
  padding: 0rem 0.3rem;
}

.nav-link {
  background-color: white;
}
.nav-link:hover {
  background-color: #b9d8f9 !important;
}

a.vertical-tab.nav-link.active.show {
  background-color: #f7f7f7;
  border-right-color: #f7f7f7;
  border-top-right-radius: 0;
}

a.nav-link.active.show {
  background-color: #f7f7f7;
  border-bottom-color: #f7f7f7;
}

.btn-primary {
  background-color: #00aeee;
  border-color: #0e76bc;
}

.btn-primary:hover,
.page-item.active .page-link {
  background-color: #b9d8f9;
  border-color: #b9d8f9;
}

.CodeMirror {
  color: black;
  border-size: 2px;
  font-size: 1.2em;
  padding: 8px;
  width: 100%;
  height: auto;
}
.CodeMirror-scroll {
  overflow-y: hidden;
  overflow-x: auto;
  min-height: 30px;
  max-height: 400px;
}

div.dt-buttons {
  float: left;
}
div.dataTables_length {
  float: left;
  margin-left: 50px;
}
div.dataTables_filter {
  float: right;
}

#graphMainPanel {
  transition: width 0.3s ease;
}

#graphPropertiesPanel {
  /* for the animation */
  transition: margin 0.3s ease;
}

.collapsed {
  /* hide it for small displays*/
  display: none;
}
